body {
  background-color: #ECEFF4;
}

#flashcards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.flashcards-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  background: white;
}