body {
  background-color: #ECEFF4;
  margin: 0;
  font-size: 16px;
}

nav {
  background-color: #88C0D0;
  padding-left: 1em;
  padding-top: 0.5em;
}

.item-description,
.item-code {
  display: none;
}

#flashcards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.flashcards-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  background: white;
}